@import url("https://fonts.googleapis.com/css2?family=Michroma&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(255, 255, 255, 1);
  color: rgba(1, 1, 1, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.q-w-header.is-open .q-w-header-background {
  left: 0;
}
.q-w-header-button-wrapper {
  margin-left: auto;
}
.q-w-header-icon {
  display: none;
}

.q-w-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.q-w-navigation-list.is-open {
  right: 0;
}
.q-w-header-icon-menu {
  display: block;
}

.q-w-header-icon-button.is-open .q-w-header-icon-menu {
  display: none;
}

.q-w-header-icon-button.is-open .q-w-header-icon-close {
  display: block;
}

.q-w-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 90px;
}

.q-w-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: rgba(255, 255, 255, 1);
}
.q-w-header.is-open .q-w-header-background {
  left: 0;
}
.q-w-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.q-w-header-icon-menu {
  display: block;
}

.q-w-header-icon-button.is-open .q-w-header-icon-menu {
  display: none;
}

.q-w-header-icon-button.is-open .q-w-header-icon-close {
  display: block;
}

.q-w-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px 12px;
  position: relative;
}

.q-w-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 80%;
  right: -100%;
  width: 100%;
  height: 557px;
  transition: 0.3s;
  z-index: 999;

  border-radius: 0px 0px 20px 20px;
  gap: 28px;
  background: rgba(255, 255, 255, 1);
}

.q-w-navigation-list.is-open {
  right: 0;
}

.q-w-navigation-link {
  font-family: Roboto;
  font-weight: 400;
  font-size: 22px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(17, 24, 39, 1);
}

.q-w-navigation-link:hover,
.q-w-navigatioт-link:focus {
  font-weight: 500;
}

.q-w-header.is-open {
  background-color: transparent;
}

.q-w-navigation-img {
  display: none;
}

@media screen and (min-width: 1117px) {
  .q-w-navigation-img {
    display: flex;
  }
  .q-w-policy-terms-header-icon-menu {
    display: none;
  }

  .q-w-header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background: rgba(255, 255, 255, 1);
  }

  .q-w-header-background {
  }
  .q-w-header-icon-button {
    display: none;
  }
  .q-w-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .q-w-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 33px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
  }

  .q-w-navigation-link {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;

    text-decoration: none;
    margin-top: 70px;
  }

  .q-w-navigation-item-desk {
    display: none;
  }
}
.q-w-home {
  margin: auto;
  background: rgba(1, 1, 1, 1);
}
.q-w-home-container {
  width: 375px;
  padding: 120px 16px 0px;
  margin: auto;
  height: 812px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Hero.png");
}

.q-w-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.q-w-home-title {
  font-family: Michroma;
  font-weight: 400;
  font-size: 34px;
  line-height: 120%;
  letter-spacing: 0%;
  color: rgba(17, 24, 39, 1);
}

.q-w-home-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 22px;
  line-height: 130%;
  letter-spacing: 0%;
  padding-top: 49px;
}

@media screen and (min-width: 1117px) {
  .q-w-home-container {
    width: 1440px;
    height: 709px;
    padding: 160px;
    background-image: url("/img/Hero\ \(1\).png");
  }
  .q-w-home-container-top {
    width: 640px;
  }

  .q-w-home-title {
    font-family: Michroma;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0%;
  }

  .q-w-home-text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 26px;
    line-height: 130%;
    letter-spacing: 0%;
  }
}
.q-w-why {
  margin: auto;

  background: rgba(1, 1, 1, 1);
}

.q-w-why-container {
  width: 375px;
  margin: auto;
  padding: 80px 16px;
  background-position: top;
  background-repeat: no-repeat;
  background: rgba(1, 1, 1, 1);

  background-image: url("/img/Our\ Products.png");
}
.q-w-why-div {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.q-w-why-img {
  width: 343px;
  height: 283px;

  border-radius: 32px;
}
.q-w-why-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style-type: disc;
  padding-left: 20px;
}
.q-w-why-item {
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  color: rgba(138, 223, 112, 1);
}
.q-w-why-i {
  height: 1px;
  background-color: rgba(255, 255, 255, 1);
  margin: 0;
  margin-left: -20px;
}
.q-w-why-text-bold {
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  color: rgba(138, 223, 112, 1);
}
.q-w-why-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
}

@media screen and (min-width: 1117px) {
  .q-w-why-container {
    width: 1440px;
    padding: 160px 160px 0;
    height: 846px;
    background-repeat: no-repeat;
    background-image: url("/img/Our\ Products\ \(1\).png");
  }
  .q-w-why-div {
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    gap: 127px;
    align-items: center;
  }
  .q-w-why-img {
    width: 449px;
    height: 388px;
  }
  .q-w-why-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
    list-style-type: disc;
    padding-left: 20px;
  }
  .q-w-why-item {
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .q-w-why-i {
    height: 1px;
    background-color: rgba(255, 255, 255, 1);
    margin: 0;
    margin-left: -20px;
  }
  .q-w-why-text-bold {
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .q-w-why-text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.q-w-about {
  margin: auto;

  background: rgba(1, 1, 1, 1);
}
.q-w-about-container {
  width: 375px;
  padding: 80px 16px 0px;
  margin: auto;
  width: 375px;
  height: 378px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/About\ Us.png");
}
.q-w-about-title {
  font-family: Michroma;
  font-weight: 400;
  font-size: 28px;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}
.q-w-about-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 40px;
  color: rgba(255, 255, 255, 1);
}

@media screen and (min-width: 1117px) {
  .q-w-about-container {
    width: 1440px;
    height: 551px;
    padding: 160px 448px 0;
    background-image: url("/img/About\ Us\ \(1\).png");
  }
  .q-w-about-title {
    font-family: Michroma;
    font-weight: 400;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
  }
  .q-w-about-text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;

    padding-top: 80px;
  }
}
.q-w-uniqueness {
  background: rgba(1, 1, 1, 1);
}
.q-w-uniqueness-container {
  margin: auto;
  width: 375px;
  padding: 80px 16px;
  border-top-left-radius: 48px;
  border-top-right-radius: 48px;
  background: rgba(255, 255, 255, 1);
}
.q-w-about-title-q {
  color: rgba(17, 24, 39, 1);
}
.q-w-uniqueness-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.q-w-uniqueness-img {
  margin: auto;
}
.q-w-uniqueness-text-bold {
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(17, 24, 39, 1);
  padding: 24px 0 4px;
}
.q-w-uniqueness-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1117px) {
  .q-w-uniqueness-container {
    margin: auto;
    width: 1440px;
    border-top-left-radius: 64px;
    border-top-right-radius: 64px;
    padding: 160px;
  }

  .q-w-uniqueness-list {
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
  }
  .q-w-uniqueness-item {
    width: 352px;
    height: 330px;
  }

  .q-w-uniqueness-text-bold {
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;

    padding: 24px 0 4px;
  }
  .q-w-uniqueness-text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.q-w-faq {
  margin: auto;
  background: rgba(1, 1, 1, 1);
}
.q-w-faq-container {
  padding: 80px 16px;
  width: 375px;
  margin: auto;
  background: rgba(255, 255, 255, 1);
  border-bottom-right-radius: 48px;
  border-bottom-left-radius: 48px;
}
.q-w-faq-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.q-w-faq-item {
  padding-top: 16px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-left: 24px;
  border-radius: 32px;
  border: 1px solid rgba(1, 1, 1, 1);
}

.q-w-faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  color: rgba(17, 24, 39, 1);
}

.q-w-faq-answer {
  display: none;
  padding-top: 16px;
  margin-top: 16px;
  border-top: 1px solid rgba(1, 1, 1, 1);
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}
.q-w-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 1117px) {
  .q-w-faq-container {
    padding: 160px 352px;
    width: 1440px;
    margin: auto;
  }
  .q-w-faq-list {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .q-w-faq-question {
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .q-w-faq-answer {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
  }
}
.q-w-gallery {
  background: rgba(1, 1, 1, 1);
}
.q-w-gallery-container {
  width: 375px;
  margin: auto;
  padding: 80px 16px;
  background: rgba(255, 255, 255, 1);
}
.q-w-gallery-img {
  margin: auto;
  margin-top: 40px;
}
@media screen and (min-width: 1117px) {
  .q-w-gallery-container {
    width: 1440px;
    margin: auto;
    padding: 160px;
  }
  .q-w-gallery-img {
    margin: auto;
    margin-top: 80px;
    content: url("/img/Frame\ 22.png");
  }
}

.container {
  padding: 120px 16px 40px;
  width: 375px;
  margin: auto;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

h1 {
  font-family: Michroma;
  font-weight: 400;
  font-size: 28px;
  line-height: 120%;
  letter-spacing: 0%;
}

h2 {
  font-family: Roboto;
  font-weight: 400;
  font-size: 22px;
  line-height: 130%;
  letter-spacing: 0%;
  margin-top: 10px;
}

h3 {
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  margin-top: 10px;
}

ul {
  margin-top: 10px;
}

li {
  margin-bottom: 10px;
}
p {
  margin-top: 10px;
}
a {
  text-decoration: none;
  color: #000;
  transition: all 0.3s ease-in-out;
}

.container a:hover {
  text-decoration: underline;
}

strong {
  color: #000;
}
@media screen and (min-width: 1117px) {
  .container {
    padding: 160px 160px 80px;
    width: 1440px;
    margin: auto;
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  h1 {
    font-family: Michroma;
    font-weight: 400;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: 0%;
  }

  h2 {
    font-family: Roboto;
    font-weight: 400;
    font-size: 26px;
    line-height: 130%;
    letter-spacing: 0%;

    margin-top: 20px;
  }

  h3 {
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;

    margin-top: 20px;
  }

  ul {
    margin-top: 10px;
  }

  li {
    margin-bottom: 10px;
  }
  p {
    margin-top: 10px;
  }
}

.q-w-footer-container {
  width: 375px;
  margin: auto;
  padding: 40px 27px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  color: rgba(255, 255, 255, 1);
}

.q-w-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.q-w-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

.q-w-footer-copyright {
  font-family: Roboto;
  font-weight: 400;
  font-size: 11px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}
.q-w-footer-w {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.q-w-footer-wr {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}
.q-w-footer-wr-text {
  font-family: Michroma;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(138, 223, 112, 1);
}
.q-w-footer-wr-text-q {
  color: rgba(255, 255, 255, 1);
}
@media screen and (min-width: 1117px) {
  .q-w-footer-container {
    width: 1440px;
    padding: 40px 160px 16px;
    display: flex;
    gap: 40px;
  }

  .q-w-footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    gap: 16px;
  }

  .q-w-footer-text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: right;
  }

  .q-w-footer-copyright {
    font-family: Roboto;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
  .q-w-footer-w {
    display: flex;
    flex-direction: column;

    gap: 40px;
  }
  .q-w-footer-w {
    flex-direction: row;
    justify-content: center;
    gap: 496px;
    align-items: start;
  }
  .q-w-footer-wr {
    align-items: start;
    justify-content: start;
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .q-w-footer-wr-text {
    font-family: Michroma;
    font-weight: 400;
    font-size: 28px;
    line-height: 120%;
    letter-spacing: 0%;
  }
}

.q-w-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 32px;
  border-radius: 32px;
  background: rgba(17, 24, 39, 1);

  z-index: 1000;
  display: none;
}

.q-w-cookie-popup-text-two {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;

  color: rgba(255, 255, 255, 1);
}

.q-w-cookie-button-container {
  padding: 30px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.q-w-cookie-button {
  border: none;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 1);
  width: 256px;
  border-radius: 28px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: rgba(255, 255, 255, 1);
  text-transform: capitalize;
  letter-spacing: 0%;
}

#accept-cookies {
  background: rgba(255, 255, 255, 1);
  color: rgba(1, 1, 1, 1);
}

.q-w-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1117px) {
  .q-w-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .q-w-cookie-popup-text-two {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    width: 622px;
  }

  .q-w-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .q-w-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 32px 70px;
    display: none;
  }
}
